$text: #8b8b8b;
$border: #d7d7d4;
$border--hover: #ede8b2;
$border--selected: #ebe8bf;
$background: #fffacc;
$font-stack:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
